form{
    background-color:rgba(66,109,177,0.50);
    border-radius: 15px;
    max-width: 100%;
    float:left;
}
textarea{
    width:80%;
}
input{
    background-color: #57a639;
    border-radius: 5px;
}