<p>carrusel works!</p>
<div class="carrusel" id="carrusel">
    <div id="r1">
        <div class="img_carrusel">
            <a href="{{url_1}}">
                <img src="url_foto_1" />
            </a>
        </div>
        <div class="info_carrusel">
            <p class="title">{{titulo_1}}</p>
            <div class="costo_op">
                <p class="operacion">{{tiempo_1}}</p>
            </div>
        </div>
    </div>
    <div id="r2">
        <div class="img_carrusel">
            <a href="{{url_2}}">
                <img src="url_foto_2" />
            </a>
        </div>
        <div class="info_carrusel">
            <p class="title">{{titulo_2}}</p>
            <div class="costo_op">
                <p class="operacion">{{tiempo_2}}</p>
            </div>
        </div>
    </div>
    <div id="r3">
        <div class="img_carrusel">
            <a href="{{url_3}}">
                <img src="{{url_foto_3}}" />
            </a>
        </div>
        <div class="info_carrusel">
            <p class="title">{{titulo_3}}</p>
            <div class="costo_op">
                <p class="operacion">{{tiempo_3}}</p>
            </div>
        </div>
    </div>
</div>