<p>suscripcion works!</p>
<div id="formulario_cliente" >
    <div class ="formulario">
        <!-- how get this information? -->
            <form class="cliente" method="POST">
                <label for="nombre_cl"> Nombre </label>
                <input type="text" placeholder="Nombre" maxlength="20" name="nombre_cl" id="nombre_cl">
                <br>
                <label for="telefono_cl"> Telefono </label>
                <input type="tel" placeholder="Telefono" maxlength="10" name="telefono_cl" id="telefono_cl">
                <br>
                <label for="correo"> Correo electronico </label>
                <input type="email" placeholder="email " name="correo" id="correo"><br>
                <br>
                <hr>
                <input type="submit" value="Enviar" class="enviar" OnClick="checkClient();">
            </form>
        </div>
</div>